<!DOCTYPE html>
<html>
  <head>
    <title>Check-in Dashboard</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("a").click(function () {
         
          var email=document.getElementById("email").innerHTML;
          var phoneno = document.getElementById("visphone").innerHTML;
          
           $.get("/checkout",
              {
                email: email,
                phone: phoneno
              },
              function (data, status) {
                console.log(status);
                  
                 window.location="/home";
              });
          });
        });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Visitor's Dashboard</h1>
    <!-- <a href="/visitorsignup" class="btn btn-default btn-sm" id="newButton"
          >New Visitor Registration</a -->
        
      </div>

      <div class="row">
        <div class="col-sm-6" >
          <div class="well">
            <h3 >
              <span class="fa fa-user" id="visname">  </span> <%= users.local.visitorname %>
            </h3>
            <% if (users.local.email) { %>
              <p>
              <p id="email"><%= users.local.email %></p><br />
              <p id="visphone"><%= users.local.visitorphone %></p><br />
              <p id="cintime"><%= users.local.cintime %></p>
              </p>
            <a  class="btn btn-danger btn-lg" id="coutButton">Checkout</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
