<!DOCTYPE html>
<html>
  <head>
    <title>Check-in Dashboard</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Visitor's Dashboard</h1>
        <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
        <a href="/logout" class="btn btn-default btn-sm"
          >New Visitor Registration</a
        >
      </div>

      <div class="row">
        <!-- LOCAL INFORMATION -->
        <% users.forEach(function (user) { %>
        <div class="col-sm-6">
          <div class="well">
            <h3>
              <span class="fa fa-user"></span> <%= user.local.visitorname %>
            </h3>
            <% console.log(user) %> <% if (user.local.email) { %>
            <p>
              <strong>email</strong>: <%= user.local.email %><br />
              <strong>Phone Number</strong>: <%= user.local.visitorphone %><br />
              <strong>Check In Time</strong>: <%= user.local.cintime %>
            </p>

            <!-- <a href="/unlink/local" class="btn btn-default">Unlink</a> -->
            <a href="/checkout" class="btn btn-default">Checkout</a>

            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
